body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 100px;
}

#count{
    font-size: 48px;
    margin: 20px 0;
}

button{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 6px 10px;
    border-radius: 5px;
    border: 0;
    color: azure;
    background-color: #5f7387;
    transition: all 0.2s ease;
}

button:hover{
    background-color: rgb(15, 155, 255);
}